@model GameManagementMvc.Models.Game

@{
    ViewData["Title"] = "Create Game";
    var genres = ViewData["Genres"] as IEnumerable<SelectListItem>;
    var companies = ViewData["Companies"] as IEnumerable<SelectListItem>;
    bool isNoGenre = !genres!.Any();
    bool isNoCompany = !companies!.Any();
}

<!-- WARN: must have at least 1 company and 1 genre to create a new game -->

<h1>@ViewData["Title"]</h1>

<!-- <h4>Game</h4> -->

<div>
    <a asp-action="Index">Back to List</a>
</div>

<hr />

<div class="row justify-content-center">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Body" class="control-label"></label>
                <textarea asp-for="Body" class="form-control"></textarea>
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <input asp-for="Rating" class="form-control" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseDate" class="control-label">Release Date</label>
                <input asp-for="ReleaseDate" class="form-control" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <!--BUG: jquery validation don't work with this field-->
                <!--manually check and rerender-->
                <label asp-for="CompanyId" class="control-label">Company</label>
                <div>
                    @foreach (var company in companies!)
                    {
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" name="CompanyId" value="@company.Value" id="company_@company.Value" required />
                        <label class="form-check-label" for="company_@company.Value">@company.Text</label>
                    </div>
                    }
                </div>
                <span asp-validation-for="CompanyId" class="text-danger"></span>
                <p class="">
                    @if (isNoCompany)
                    {
                    <span class="text-danger">
                        You need to 
                        <a asp-controller="Company" asp-action="Create" class="">create a company</a>
                        before creating a game.
                    </span> 
                    }
                </p>
            </div> 
            <div class="form-group">
                <label asp-for="GenreIds" class="control-label">Genre</label>
                <div>
                    @foreach (var genre in genres!)
                    {
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" name="GenreIds" value="@genre.Value" id="genre_@genre.Value" required/>
                        <label class="form-check-label" for="genre_@genre.Value">@genre.Text</label>
                    </div>
                    }
                </div>
                <span asp-validation-for="GenreIds" class="text-danger"></span>
                <p class="">
                    @if (isNoGenre)
                    {
                    <span class="text-danger">
                        You need to 
                        <a asp-controller="Genre" asp-action="Create" class="">create a genre</a>
                        before creating a game.
                    </span> 
                    }
                </p>
            </div>
            <p class="font-weight-bold"><b>
                *Note: Must select 1 Company and at least 1 Genre.
            </b></p>
            <div class="form-group d-flex justify-content-between">
                <a asp-action="Index" class="btn btn-danger">Cancel</a>
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
