@model GameManagementMvc.Models.Game

@{
ViewData["Title"] = "Delete Game";
var game = Model;
var gameCompanies = Model.GameCompanies.ToList();
var gameGenres = Model.GameGenres.ToList();
}

<h1>@ViewData["Title"]</h1>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<hr>
<div class="row justify-content-between">
    <div class="col-2">
        @if (String.IsNullOrEmpty(game.Image))
        {
        <img src="~/img/default.png" alt="No image" class="img-thumbnail">
        }
        else
        {
        <img src="@game.Image" alt="Game image" class="img-thumbnail">
        }
    </div>

    <dl class="row col-6 align-self-start">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(_ => game.Title)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(_ => game.Title)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(_ => game.Body)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(_ => game.Body)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(_ => game.Rating)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(_ => game.Rating)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(_ => game.ReleaseDate)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(_ => game.ReleaseDate)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(_ => gameGenres![0].Genre)
        </dt>
        <dd class="col-sm-8">
            @for (int i = 0; i < gameGenres.Count; i++)
                {
                if (i != 0)
                {
                <span> | </span>
                }
                <a asp-controller="Genre" asp-action="Details" asp-route-id="@gameGenres[i].Genre.Id">
                    @Html.DisplayFor(_ => gameGenres[i].Genre.Title)
                </a>
                }
        </dd>
    </dl>

    <div class="col-4 text-end">
        <a asp-action="Edit" asp-route-id="@game?.Id" class="btn btn-primary">Edit</a>
        <a asp-action="Details" asp-route-id="@game?.Id" class="btn btn-primary">Details</a>
        <a asp-action="Index" class="btn btn-primary">Back to List</a>
    </div>
</div>

<br>
<div class="">
    <h3 class="">
        Development Phases
    </h3>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(_ => gameCompanies![0].Company)
                </th>
                <th>
                    @Html.DisplayNameFor(_ => gameCompanies![0].Title)
                </th>
                <th>
                    @Html.DisplayNameFor(_ => gameCompanies![0].Body)
                </th>
                <th>
                    @Html.DisplayNameFor(_ => gameCompanies![0].StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(_ => gameCompanies![0].EndDate)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in gameCompanies!) {
            <tr>
                <td>
                    <a asp-controller="Company" asp-action="Details" asp-route-id="@item.Company.Id">
                        @Html.DisplayFor(_ => item.Company.Title)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(_ => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(_ => item.Body)
                </td>
                <td>
                    @Html.DisplayFor(_ => item.StartDate)
                </td>
                <td>
                    @if (item.EndDate == null)
                    {
                    <span><b>On going</b></span>
                    }
                    else
                    {
                    @Html.DisplayFor(_ => item.EndDate)
                    }
                </td> 
            </tr>
            }
        </tbody>
    </table>
</div>

<br>
<form class="float-right" asp-action="Delete">
    <h3 class="text-danger d-flex justify-content-between">
        <span class="text-start">Delete this game and related information?</span>
        <input type="submit" value="Confirm" class="btn btn-danger text-end">
    </h3>
    <input type="hidden" asp-for="Id">
</form>

