@model GameManagementMvc.Models.Game

@{
ViewData["Title"] = "Edit Game";
var genres = ViewData["Genres"] as IEnumerable<SelectListItem>;
var companies = ViewData["Companies"] as IEnumerable<SelectListItem>;
}

<h1>@ViewData["Title"]</h1>

<!-- <h4>Game</h4> -->

<hr />

<div class="row">
    <div class="col-2">
        @if (String.IsNullOrEmpty(Model.Image))
        {
        <img src="~/img/default.png" alt="No image" class="img-thumbnail">
        }
        else
        {
        <img src="@Model.Image" alt="Game image" class="img-thumbnail">
        }
    </div> 
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Body" class="control-label"></label>
                <textarea asp-for="Body" class="form-control" ></textarea>
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <input asp-for="Rating" class="form-control" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseDate" class="control-label"></label>
                <input asp-for="ReleaseDate" class="form-control" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company" class="control-label"></label>
                <div>
                    @foreach (var company in companies)
                    {
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" name="CompanyId" value="@company.Value" id="company_@company.Value" @(company.Selected ? "checked" : "") />
                        <label class="form-check-label" for="company_@company.Value">@company.Text</label>
                    </div>
                    }
                </div>
                <span asp-validation-for="Company" class="text-danger"></span>
            </div> 
            <div class="form-group">
                <label asp-for="Genres" class="control-label"></label>
                <div>
                    @foreach (var genre in genres)
                    {
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" name="GenreIds" value="@genre.Value" id="genre_@genre.Value" @(genre.Selected ? "checked" : "") />
                        <label class="form-check-label" for="genre_@genre.Value">@genre.Text</label>
                    </div>
                    }
                </div>
                <span asp-validation-for="GenreIds" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Save" class="btn btn-success" />
                <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-primary">Details</a>
                <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-primary">Delete</a>
                <a asp-action="Index" class="btn btn-primary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
