@model GameManagementMvc.Models.GameViewModel

@{
ViewData["Title"] = "All Games";
bool hasTitle = !String.IsNullOrEmpty(Model.Title);
bool hasGenreId = Model.GenreId.HasValue;
bool hasCompanyId = Model.CompanyId.HasValue;
bool hasRating = Model.Rating.HasValue;
var games = Model.Games!;
}

@if (hasTitle || hasGenreId || hasCompanyId || hasRating)
{
<h1>
    <span>&lt; </span> <a asp-action="Index" class="text-black">Back</a>
</h1>
}
else
{
<h1 class="">
    <p>@ViewData["Title"]</p>
</h1>
}

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>

<form asp-controller="Game" asp-action="Index" method="get" class="d-flex gap-2 justify-content-start">
    <div><select class="form-select" asp-for="CompanyId" asp-items="@Model.Companies">
        <option value="">Company</option>
    </select></div>

    <div><select class="form-select" asp-for="GenreId" asp-items="@Model.Genres">
        <option value="">Genre</option>
    </select></div>

    <div><select class="form-select" asp-for="Rating">
        <option value="">Rating</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select></div>

    <div><select class="form-select"asp-for="Sort">
        <option value="">Sort</option>
        <option value="name">Name Increase</option>
        <option value="-name">Name Decrease</option>
        <option value="rating">Rating Increase</option>
        <option value="-rating">Rating Decrease</option>
        <option value="date">Date Increase</option>
        <option value="-date">Date Decrease</option>
    </select></div>

    <div><input asp-for="Title" value="@Model.Title" type="text" class="form-control" aria-label="Title" aria-describedby="inputGroup-sizing-default" placeholder="Title"></div>

    <div><input type="submit" value="Filter" class="btn btn-primary"></div>
</form>

<hr>
<table class="table">
    <!--TODO: check if !games.Any() and display other <thead> and <tbody> 
with a message instead of straight games[0] which can throw error when 
games.Count == 0-->
    <thead class="text-nowrap table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(_ => games[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(_ => games[0].Rating)
            </th>
            <th>
                @Html.DisplayNameFor(_ => games[0].ReleaseDate)
            </th>
            <th>
                Phases
            </th>
            <th>
                Genres
            </th>
            <th class="text-end">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in games) {
        var gameCompanies = item.GameCompanies.ToList();
        var gameGenres = item.GameGenres.ToList();
        <tr class="align-middle">
            <td>
                <b>
                    @Html.DisplayFor(_ => item.Title)
                </b>
            </td>
            <td>
                @Html.DisplayFor(_ => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(_ => item.ReleaseDate)
            </td>
            <td>
                @foreach (var gc in gameCompanies)
                {
                <a class="btn btn-sm btn-primary" asp-controller="Company" asp-action="Details" asp-route-id="@gc.Company.Id">@Html.DisplayFor(_ => gc.Company.Title)</a>
                }
            </td>
            <td>
                @foreach (var gg in gameGenres)
                {
                <a class="btn btn-sm btn-primary" asp-controller="Genre" asp-action="Details" asp-route-id="@gg.Genre.Id">@Html.DisplayFor(_ => gg.Genre.Title)</a>
                }
            </td>
            <td class="text-nowrap text-end">
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
