@model GameManagementMvc.Models.GameViewModel

@{
    ViewData["Title"] = "All Games";
    bool hasTitle = !String.IsNullOrEmpty(Model.Title);
    bool hasGenreId = Model.GenreId.HasValue;
    bool hasCompanyId = Model.CompanyId.HasValue;
    bool hasRating = Model.Rating.HasValue;
}

<h1>
    @if (hasTitle || hasGenreId || hasCompanyId || hasRating)
    {
        <span>&lt; </span> <a asp-action="Index" class="text-black">Back</a>
    }
    else
    {
    <p>@ViewData["Title"]</p>
    }
</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Game" asp-action="Index" method="get">
    <p>
        Company:
        <select asp-for="CompanyId" asp-items="@Model.Companies">
            <option value="">All</option>
        </select>
        Genre:
        <select asp-for="GenreId" asp-items="@Model.Genres">
            <option value="">All</option>
        </select>
        Rating:
        <select asp-for="Rating">
            <option value="">All</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        Sort by: 
        <select asp-for="Sort">
            <option value="">All</option>
            <option value="name">Name</option>
            <option value="-name">-Name</option>
            <option value="rating">Rating</option>
            <option value="-rating">-Rating</option>
            <option value="date">Date Release</option>
            <option value="-date">-Date Release</option>
        </select>
        <!--keep the search string display with @@Model.Title-->
        Title: <input type="text" name="Title" value="@Model.Title">
        <input type="submit" value="Filter" class="">
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Games![0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Games![0].Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Games![0].ReleaseDate)
            </th>
            <th>
                Phases
            </th>
            <th>
                Genres
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Games!) {
        var gameCompanies = item.GameCompanies.ToList();
        var gameGenres = item.GameGenres.ToList();
        <tr>
            <td>
                @Html.DisplayFor(_ => item.Title)
            </td>
            <td>
                @Html.DisplayFor(_ => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(_ => item.ReleaseDate)
            </td>
            <td>
                @for (int i = 0; i < gameCompanies.Count; i++)
                    {
                    if (i != 0)
                    {
                    <span> | </span>
                    }
                    <a asp-controller="Company" asp-action="Details" asp-route-id="@gameCompanies[i].Company.Id">
                        @Html.DisplayFor(_ => gameCompanies[i].Company.Title)
                    </a>
                    }
            </td>
            <td>
                @for (int i = 0; i < gameGenres.Count; i++)
                    {
                    if (i != 0)
                    {
                    <span> | </span>
                    }
                    <a asp-controller="Genre" asp-action="Details" asp-route-id="@gameGenres[i].Genre.Id">
                        @Html.DisplayFor(_ => gameGenres[i].Genre.Title)
                    </a>
                    }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
