@model GameManagementMvc.Models.GameViewModel

@{
    ViewData["Title"] = "Games";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Game" asp-action="Index" method="get">
    <p>
        Company: 
        <select asp-for="SearchCompany" asp-items="Model.Companies">
            <option value="">All</option>
        </select>
        Genre: 
        <select asp-for="SearchGenre" asp-items="Model.Genres">
            <option value="">All</option>
        </select>
        <!--keep the search string display with @Model.SearchTitle-->
        Title: <input type="text" name="SearchTitle" value="@Model.SearchTitle">
        <input type="submit" value="Filter">
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Rating
            </th>
            <th>
                Release Date
            </th>
            <th>
                Company
            </th>
            <th>
                Genres
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Games!)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                <a asp-controller="Company" asp-action="Details" asp-route-id="@item.Company!.Id">
                    @Html.DisplayFor(modelItem => item.Company!.Title)
                </a>
            </td>
            <td>
                @foreach (var genre in item.Genres!)
                {
                    <a asp-controller="Genre" asp-action="Details" asp-route-id="@genre.Id">
                        @Html.DisplayFor(modelItem => genre.Title)
                    </a>
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
