@model GameManagementMvc.Models.Company

@{
ViewData["Title"] = "Delete Company";
var gameCompanies = Model.GameCompanies.ToList();
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</p>

<hr>

<div class="row justify-content-between">
    <div class="col-2">
        @if (String.IsNullOrEmpty(Model.Image))
        {
        <img src="~/img/default.png" alt="No image" class="img-thumbnail">
        }
        else
        {
        <img src="@Model.Image" alt="Company image" class="img-thumbnail">
        }
    </div>

    <dl class="row col-6 align-self-start">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(_ => @Model.Title)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(_ => @Model.Title)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(_ => @Model.Body)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(_ => @Model.Body)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(_ => @Model.FoundingDate)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(_ => @Model.FoundingDate)
        </dd>
    </dl>

    <div class="col-4 text-end">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
        <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-primary">Details</a>
        <a asp-action="Index" class="btn btn-primary">Back to List</a>
    </div>
</div>

<br>
<div class="">
    <form class="" asp-action="Delete">
        <h3 class="text-danger d-flex justify-content-between">
            <span class="text-start">Delete this Company?</span>
            <input type="submit" value="Confirm" class="btn btn-danger text-end">
        </h3>
        <input type="hidden" asp-for="Id">
    </form>
    @if (gameCompanies.Any())
    {
    <!-- <h3 class="text-danger"> -->
    <!--     Please remove the following Development Phases before trying to delete this Company -->
    <!-- </h3> -->
    <table class="table">
        <thead class="text-nowrap table-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(_ => gameCompanies[0]!.Game)
                </th>
                <th>
                    @Html.DisplayNameFor(_ => gameCompanies[0]!.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(_ => gameCompanies[0]!.Body)
                </th>
                <th>
                    @Html.DisplayNameFor(_ => gameCompanies[0]!.StartDate)
                </th>
                <th class="text-end">
                    @Html.DisplayNameFor(_ => gameCompanies[0]!.EndDate)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var gc in gameCompanies!) {
            <tr>
                <td>
                    @if (gc.Game.IsActive)
                    {
                    <a asp-controller="Game" asp-action="Details" asp-route-id="@gc.Game.Id">
                        @Html.DisplayFor(_ => gc.Game.Title)
                    </a>
                    }
                    else
                    {
                    @Html.DisplayFor(_ => gc.Game.Title)
                    }
                </td>
                <td>
                    @Html.DisplayFor(_ => gc.Title)
                </td>
                <td>
                    @Html.DisplayFor(_ => gc.Body)
                </td>
                <td>
                    @Html.DisplayFor(_ => gc.StartDate)
                </td>
                <td class="text-end">
                    @if (gc.EndDate == null)
                    {
                    <span><b>On going</b></span>
                    }
                    else
                    {
                    @Html.DisplayFor(_ => gc.EndDate)
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>
    }
    else
    {
    <!-- <form class="" asp-action="Delete"> -->
    <!--     <h3 class="text-danger d-flex justify-content-between"> -->
    <!--         <span class="text-start">Delete this Company?</span> -->
    <!--         <input type="submit" value="Confirm" class="btn btn-danger text-end"> -->
    <!--     </h3> -->
    <!--     <input type="hidden" asp-for="Id"> -->
    <!-- </form> -->
    }
</div>

