@model GameManagementMvc.Models.Company

@{
ViewData["Title"] = "Details Company";
var gameCompanies = Model.GameCompanies.ToList();
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</p>

<hr>

<div class="row justify-content-between">
    <div class="col-2">
        @if (String.IsNullOrEmpty(Model.Image))
        {
        <img src="~/img/default.png" alt="No image" class="img-thumbnail">
        }
        else
        {
        <img src="@Model.Image" alt="Company image" class="img-thumbnail">
        }
    </div>

    <dl class="row col-6">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(_ => @Model.Title)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(_ => @Model.Title)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(_ => @Model.Body)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(_ => @Model.Body)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(_ => @Model.FoundingDate)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(_ => @Model.FoundingDate)
        </dd>
    </dl>

    <div class="col-4 text-end">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
        <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-primary">Delete</a>
        <a asp-action="Index" class="btn btn-primary">Back to List</a>
    </div>
</div>

<br>
<div class="">
    <h3 class="">@Model.Title development phases - @gameCompanies.Count items</h3>
    @if (gameCompanies.Any())
    {
    <table class="table">
        <thead class="text-nowrap table-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(_ => gameCompanies[0]!.Game)
                </th>
                <th>
                    @Html.DisplayNameFor(_ => gameCompanies[0]!.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(_ => gameCompanies[0]!.Body)
                </th>
                <th>
                    @Html.DisplayNameFor(_ => gameCompanies[0]!.StartDate)
                </th>
                <th class="text-end">
                    @Html.DisplayNameFor(_ => gameCompanies[0]!.EndDate)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var gc in gameCompanies!) {
            <tr>
                <td>
                    <a asp-controller="Game" asp-action="Details" asp-route-id="@gc.Game.Id">
                        @Html.DisplayFor(_ => gc.Game.Title)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(_ => gc.Title)
                </td>
                <td>
                    @Html.DisplayFor(_ => gc.Body)
                </td>
                <td>
                    @Html.DisplayFor(_ => gc.StartDate)
                </td>
                <td class="text-end">
                    @if (gc.EndDate == null)
                    {
                    <span><b>On going</b></span>
                    }
                    else
                    {
                    @Html.DisplayFor(_ => gc.EndDate)
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>
    }
    else
    {
    <p>Company has no development phases.</p>
    }
</div>

