@model GameManagementMvc.Models.Company

@{
    ViewData["Title"] = "Edit Company";
    var games = Model!.Games!;
}

<h1>@ViewData["Title"]</h1>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<hr />

<div class="row">
    <div class="col-4">
        @if (String.IsNullOrEmpty(Model.Image))
        {
        <img src="~/img/default.png" alt="No image" class="img-thumbnail">
        }
        else
        {
        <img src="@Model.Image" alt="Game image" class="img-thumbnail">
        }
    </div>
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Body" class="control-label"></label>
                <textarea asp-for="Body" class="form-control"></textarea>
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FoundingDate" class="control-label"></label>
                <input asp-for="FoundingDate" class="form-control" />
                <span asp-validation-for="FoundingDate" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
                <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-primary">Details</a>
                <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-primary">Delete</a>
                <a asp-action="Index" class="btn btn-danger">Cancel</a>
            </div>
        </form>
    </div>
</div>

<br>

<h3 class="">Company's Games</h3>

@if (games.Any())
{
<table class="table">
    <thead>
        <tr>
            <th>
                <!-- Name -->
                @Html.DisplayNameFor(_ => games![0].Title)
            </th>
            <th>
                <!-- Rating -->
                @Html.DisplayNameFor(_ => games![0].Rating)
            </th>
            <th>
                <!-- Release Date -->
                @Html.DisplayNameFor(_ => games![0].ReleaseDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in games!)
        {
        <tr>
            <td>
                @Html.DisplayFor(_ => item.Title)
            </td>
            <td>
                @Html.DisplayFor(_ => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(_ => item.ReleaseDate)
            </td>
            <td>
                <a asp-controller="Game" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-controller="Game" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-controller="Game" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
}
else
{
<p class="">Company has no games. <a asp-controller="Game" asp-action="Index" class="">Create a game</a>.</p>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
