@model GameManagementMvc.Models.Genre

@{
ViewData["Title"] = "Details Genre";
var gameGenres = Model.GameGenres.ToList();
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</p>

<hr>

<div class="row justify-content-between">
    <dl class="row col-8 align-self-center">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(_ => Model.Title)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(_ => Model.Title)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(_ => Model.Body)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(_ => Model.Body)
        </dd>
    </dl>

    <div class="col-4 text-end">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
        <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-primary">Delete</a>
        <a asp-action="Index" class="btn btn-primary">Back to List</a>
    </div>
</div>

<br>
<div class="">
    <h3 class="">@Model.Title Games - @gameGenres.Count items</h3>
    @if (gameGenres.Any())
    {
    <table class="table">
        <thead class="text-nowrap table-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(_ => gameGenres[0].Game.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(_ => gameGenres[0].Game.Rating)
                </th>
                <th>
                    @Html.DisplayNameFor(_ => gameGenres[0].Game.ReleaseDate)
                </th>
                <th class="text-end">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in gameGenres)
            {
            <tr class="align-middle">
                <td>
                    @if (item.Game.IsActive)
                    {
                    <a asp-controller="Game" asp-action="Details" asp-route-id="@item.Game.Id">
                        @Html.DisplayFor(_ => item.Game.Title)
                    </a>
                    }
                    else
                    {
                    @Html.DisplayFor(_ => item.Game.Title)
                    }
                </td>
                <td>
                    @Html.DisplayFor(_ => item.Game.Rating)
                </td>
                <td>
                    @Html.DisplayFor(_ => item.Game.ReleaseDate)
                </td>
                <td class="text-nowrap text-end">
                    <a class="btn btn-primary" asp-controller="Game" asp-action="Edit" asp-route-id="@item.Game.Id">Edit</a>
                    <a class="btn btn-primary" asp-controller="Game" asp-action="Details" asp-route-id="@item.Game.Id">Details</a>
                    <a class="btn btn-danger" asp-controller="Game" asp-action="Delete" asp-route-id="@item.Game.Id">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
    }
    else
    {
    <p>Genre has no Games.</p>
    }
</div>
