@model GameManagementMvc.Models.GenreViewModel

@{
ViewData["Title"] = "All Genres";
var genres = Model.Genres!;
bool hasTitle = !String.IsNullOrEmpty(Model.Title);
}

<h1>
    @if (hasTitle)
    {
    <span>&lt; </span> <a asp-action="Index" class="text-black">Back</a>
    }
    else
    {
    <p>@ViewData["Title"]</p>
    }
</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>

<form asp-controller="Genre" asp-action="Index" method="get" class="d-flex gap-2 justify-content-start">
    <div><select class="form-select" asp-for="Sort">
        <option value="">Sort</option>
        <option value="name">Name Increase</option>
        <option value="-name">Name Decrease</option>
    </select></div>

    <div><input asp-for="Title" value="@Model.Title" type="text" class="form-control" aria-label="Title" aria-describedby="inputGroup-sizing-default" placeholder="Title"></div>

    <div><input type="submit" value="Filter" class="btn btn-primary"></div>
</form>

@if (genres.Any())
{
<hr>
<table class="table">
    <thead class="text-nowrap table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(_ => genres![0].Title)
            </th>
            <th class="text-end">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in genres) {
        if (item.IsActive)
        {
        var gameGenres = item.GameGenres.ToList();
        int activeGames = 0;
        foreach (var gg in gameGenres)
        {
        if (gg.Game.IsActive)
        {
        activeGames++;
        }
        }
        <tr class="align-middle">
            <td>
                <b>
                    @Html.DisplayFor(_ => item.Title)
                </b>
                <a asp-action="Details" asp-route-id="@item.Id">@activeGames</a>
            </td>
            <td class="text-nowrap text-end">
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
        }
    </tbody>
</table>
}
else
{
<p>No Genres yet.</p>
}
